@using WebASP.Models
@model WebASP.Models.Schedule

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h2>Lịch học</h2>
                <p>Để biết lịch học, vui lòng chọn khoá học bạn muốn học..</p>
            </div>
        </div>

        @using (Ajax.BeginForm("Index", "LichHoc", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResult", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadingElement" }))
        {
            <div class="section group">
                <div class="col-md-2 col-md-offset-2">
                    @Html.DropDownList("khoahoc", ViewBag.khoahoc as SelectList, new { style = "width:auto ; margin-left:12px; height:45px", selectedIndex = ViewBag.count})

                </div>
                <div class="col-md-4 col-md-offset-2">
                    <button type="submit" style="width:250px ; margin-left:12px;height:45px">Tìm hiểu thêm</button>
                </div>
            </div>
        }
    </div>
</div>

@if (((List<Schedule>)ViewBag.schedule).Count == 0)
{

}
else
{
    <div class="content">
        <div class="section group">
            <table class="table">
                <thead>
                    <tr>

                        <td>Mã lớp</td>
                        <td>Số tuần</td>
                        <td>Ngày học</td>
                        <td>Thời gian</td>
                        <td>Ngày khai giảng</td>
                        <td>Trạng thái</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<Schedule>)ViewBag.schedule)
                    {
                        <tr>

                            <td>@item.ClassID</td>
                            <td>@item.Week</td>
                            <td>@item.Day</td>
                            <td>@item.Times</td>
                            <td>@item.Dates</td>
                            <td>@item.Status</td>
                            <td><a href="#" data-id="@item.ClassID" class="btn-delete">Đăng ký</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}
